# Ignore node_modules to prevent copying them into the image
node_modules

# Ignore build output folders
dist
build

# Ignore environment files
.env

# Ignore Git files
.git
.gitignore

# Optional: Ignore logs and temporary files
*.log
*.tmp
